<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<title>title</title>
</head>
<body>
  <% userList.forEach(user => { -%>
    <div>
      <div><%= user.name %></div>
      <div><%= user.bio %></div>
    </div>
  <% }); -%>
</body>
</html>